.side-a {
  border-right: 1px solid lightgray;
}

.side-b {
  border-left: 1px solid lightgray;
}

.problem-view {
  margin: 40px;
}

.question {
  margin-top: 20px;
}

.submit-bar {
  padding: 12px;
  background-color: #eeeeee;
  border-radius: 10px;
}
  