.side-a {
  border-right: 1px solid lightgray;
}

.side-b {
  border-left: 1px solid lightgray;
}

.problems {
  margin: 40px;
}

.ws-title {
  text-align: center
}

.ws-page>div {
  padding-left: 6px;
  padding-right: 6px;

  input {
    width: 40px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.problem-view {
  margin: 40px;
}

.question {
  margin-top: 20px;
}

.submit-bar {
  padding: 12px;
  background-color: #eeeeee;
  border-radius: 10px;
}
  