.login {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
    margin: auto;

    .row {
        margin: auto;
        padding-bottom: 15%;
        
        form {
            width: 24rem;
        }
    }
}